*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background: linear-gradient(#99aaff,#99aadd);
    height: 100vh;
}

.title{
    text-align: center;
    padding: 50px;
    color: #1030dd
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 80%;
    min-height: 200px;
    text-align: center;
    background-color: #3355dd;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #0003;
}

.container__label{
    color: #fff;
    font-weight: 600
}

.container__input{
    display: block;
    padding: 8px;
    background-color: #9999ff;
    box-shadow: inset 3px 3px#0003;
    border: none;
    width: 50%
}

.container__input:focus{
    border:none;
    outline: none;
    background-color: #9999ff;
    box-shadow: none;
    outline: 5px solid #9999ff
}

.container__button{
    background-color: #9999ff;
    border: none;
    padding: 8px 12px;
    box-shadow: 2px 2px 1px #0003
}

.container__button:active{
    box-shadow : none;
    background-color: #5555aa;
}

.container__list{
    width: 100%;
    padding: 20px 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-item{

    display: block;
    width: 100%;
    padding: 15px;
    background-color: #aaddff;
    box-shadow: 2px 2px #0003;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.list-item__delete-button{
    background-color: #5555aa;
    border: none;
    justify-self:flex-end;
    padding: 10px;
    border-radius: 20px;
}

.div{
    min-width: 100%;
    min-height: 50px;
}

.dragged{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #aaddff33;
    box-shadow: 2px 2px #0003;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.drag-over{
    display: block;
    width: 100%;
    background-color: #aaddff;
    box-shadow: 2px 2px #0003;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #000;
}

@media only screen and (min-width: 650px) {
    .container{
        width: 60%
    }
}